main {
    min-height: calc(650px - 200px);
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    background: linear-gradient(to right, rgba(59, 92, 168, 0.9), rgba(234, 218, 0, 0.9));
    color: #fff;
    padding: 50px 0 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 5px;
}

.sacha {
    width: 80px;
    margin-bottom: 60px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.email {
    width: fit-content;
    border-bottom: 1px solid #ccc;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}