@import url("https://fonts.googleapis.com/css2?family=Itim");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", sans-serif;
}

body {
    min-height: 100vh;
    background: url(/SAE\ 105//img/Paysage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}