@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slide-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  opacity: 80%;
  margin-top: 10%;
}

.logos-bottom {
  margin-top: 20px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(242, 242, 242, 0), rgb(20, 22, 24));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(242, 242, 242, 0), rgb(20, 22, 24));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide.reverse {
  animation: 35s slide-reverse infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logos-slide img:hover {
  transform: translateY(-5px);
}

.logos-slide img::after {
  content: attr(data-tooltip);
}